<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenshinLyreMidiPlayer.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenshinLyreMidiPlayer.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GenshinLyreMidiPlayer.Data.Properties.Settings.SqliteConnection"
            connectionString="history.db" providerName="" />
    </connectionStrings>
    <userSettings>
        <GenshinLyreMidiPlayer.Data.Properties.Settings>
            <setting name="AutoCheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeBetaUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HoldNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransposeNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSpeakers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedLayout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedSpeed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SelectedTransition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MergeMilliseconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenshinLocation" serializeAs="String">
                <value>GenshinImpact.exe</value>
            </setting>
            <setting name="SelectedInstrument" serializeAs="String">
                <value>0</value>
            </setting>
        </GenshinLyreMidiPlayer.Data.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GenshinLyreMidiPlayer.Data.Properties.Settings>
            <setting name="LicenseUri" serializeAs="String">
                <value>https://github.com/sabihoshi/GenshinLyreMidiPlayer/blob/main/LICENSE.md</value>
            </setting>
            <setting name="ThirdPartyLicenseUri" serializeAs="String">
                <value>https://github.com/sabihoshi/GenshinLyreMidiPlayer/blob/main/THIRD-PARTY-NOTICES.md</value>
            </setting>
        </GenshinLyreMidiPlayer.Data.Properties.Settings>
    </applicationSettings>
</configuration>